<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="header">
<header role="header">
<div class="container">
    <!-- logo -->
    <h1>
        <a th:href="@{/}" title="Sdisk">
            <img th:src="@{/site/images/blog_title.png}">
        </a>
     </h1>
    <!-- logo -->
    <!-- nav -->
    <nav role="header-nav" class="navy">
        <ul>
            <li th:class="${active == 'photo' ? 'nav-active':''}"><a th:href="@{/photo/index}" title="Blog">Photo</a></li>
        </ul>
    </nav>
    <!-- nav -->
</div>
</header>
</html>