<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<ol class="page-navigator" th:fragment="pageNav(pageInfo,prevText,nextText,prefix)">
    <th:block th:if="${pageInfo.hasPreviousPage}">
        <li class="prev">
            <a th:href="@{'/'+${prefix}+'/'+${pageInfo.prePage}}" th:text="${prevText}"></a>
        </li>
    </th:block>

    <th:block th:each="navIndex: ${pageInfo.navigatepageNums}">
        <li th:class="${pageInfo.pageNum==navIndex}?'current':''">
            <a th:href="@{'/'+${prefix}+'/'+${navIndex}}" th:text="${navIndex}"></a>
        </li>
    </th:block>

    <th:block th:if="${pageInfo.hasNextPage}">
        <li class="prev">
            <a th:href="@{'/'+${prefix}+'/'+${pageInfo.nextPage}}" th:text="${nextText}"></a>
        </li>
    </th:block>
</ol>

<div th:fragment="pageAdminNav(pageInfo)">
    <div class="clearfix">
        <ul class="pagination m-b-5 pull-right">
            <li th:if="${pageInfo.hasPreviousPage}">
                <a th:href="@{'?page='+${pageInfo.prePage}}" aria-label="Previous">
                    <i class="fa fa-angle-left"></i>&nbsp;上一页
                </a>
            </li>
            <th:block th:each="nav : ${pageInfo.navigatepageNums}">
                <li th:class="${nav==pageInfo.pageNum}?'active':''">
                    <a th:href="@{'?page='+${nav}}" th:text="${nav}"></a>
                </li>
            </th:block>
            <th:block th:if="${pageInfo.hasNextPage}">
                <li>
                    <a th:href="@{'?page='+${pageInfo.nextPage}}" aria-label="Next">
                        下一页&nbsp;<i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </th:block>
            <li><span th:text="'共'+${pageInfo.pages}+'页'"></span> </li>
        </ul>
    </div>
</div>

<div th:fragment="subComment(comments)">
    <ul th:if="${comments != null}" class="comment-list" style="margin-left: 30px; border-left: 1px solid #f1f1f1">
        <th:block th:each="comment:${comments}">
            <li class="comment-list-one" th:id="'comment-id-'+${comment.coid}">
                <img th:src="@{${comment.gavatar}(s='80',r='G',d='')}" alt="" class="comment-img"/>
                <section>
                    <div class="comment-list-one-head">
                        <a class="comment-list-one-head-name" rel="nofollow" th:href="${comment.url}" target="blank" th:text="${comment.author}"></a>
                        <span class="comment-ua-info" style="display: none" th:text="${comment.agent}"></span>
                        <th:block th:if="${comment.isAdmin == 1}">
                            <label class="comment-list-admin">作者</label>
                        </th:block>
                    </div>
                    <div class="comment-list-one-content">
                        <th:block th:utext="${commons.article(comment.content)}"></th:block>
                    </div>
                    <div class="comment-list-one-footer">
                        <span class="comment-list-one-footer-time" th:utext="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm')}"></span>
                        <span th:attr="at=${comment.coid}" class="comment-list-one-footer-reback">回复</span>
                    </div>
                </section>
                <th:block th:if="${comment.childComments !=null && comment.childComments.size() >0}">
                    <div th:replace="comm/macros :: subComment(${comment.childComments})"></div>
                </th:block>
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>