<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="post_comment">
<body>
<script th:src="@{/site/js/layer.js}"></script>
<script type="text/javascript">
    /*<![CDATA[*/
    (function () {
       window.Comment = {
           dom : function (id) {
            return document.getElementById(id);
        },
        create:function(tag,attr){
          var e1 = document.createElement(tag);
          for (var key in attr){
              e1.setAttribute(key, attr[key]);
          }
          return e1;
        },
        reply :  function(coid){
               $("#comment-form input[name=coid]").val(coid);
               $("html,body").animate({scrollTop:$('div.comment-container').offset().top()},500);
               $("#comment-form #textarea").focus();
        },
        subbimtComment:function(){
               $.ajax({
                   type:'post',
                   url:'/blog/comment',
                   data:$('#comment-form').serialize(),
                   async:false,
                   dataType:'json',
                   success:function(result){
                       $("#comment-form input[name=coid]").val('');
                       if (result && result.code =='200'){
                           layer.msg("评论已提交到后台审核！",{
                               icon:6,
                               time:2000 },
                               function (){
                                   window.location.reload();
                               })
                       }else {
                           if (result.msg) {
                               layer.msg(result.msg,{
                                   icon:1
                               });
                           }
                       }
                   }
               });
               return false;
        }
       }
    })();
    function getCommentCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
        if (arr = document.cookie.match(reg))
            return unescape(decodeURI(arr[2]));
        else
            return null;
    }
    function addCommentInputValue() {
        document.getElementById('author').value = getCommentCookie('tale_remember_author');
        document.getElementById('mail').value = getCommentCookie('tale_remember_mail');
        document.getElementById('url').value = getCommentCookie('tale_remember_url');
    }
    addCommentInputValue();
    /*]]>*/
</script>
</body>
</html>