<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>留言有新回复</title>
</head>
<body>
    <div class="emailpaged" style="background: #fff;">
        <div class="emailcontent" style="width:100%;max-width:720px;text-align: left;margin: 0 auto;padding-top: 20px;padding-bottom: 80px">
            <div class="emailtitle" style="border-radius: 5px;border:1px solid #eee;overflow: hidden;">
                <h1 style="color:#fff;background: #3798e8;line-height:70px;font-size:24px;font-weight:normal;padding-left:40px;margin:0" th:text="'您在'+${contentTitle}+'上的留言有回复啦！'">

                </h1>
                <div class="emailtext" style="background:#fff;padding:20px 32px 40px;">

                    <p style="color: #6e6e6e;font-size:13px;line-height:24px;" th:text="${commentAuthor}+', 您好!'"></p>
                    <p style="color: #6e6e6e;font-size:13px;line-height:24px;" th:text="'您在《'+${contentTitle}+'》的留言:'">
                        <br />
                    <p style="color: #6e6e6e;font-size:13px;line-height:24px;padding:10px 20px;background:#f8f8f8;margin:0px" th:text="${commentContent}"></p>
                    <p style="color: #6e6e6e;font-size:13px;line-height:24px;" th:text="${replyAuthor} +'给你的回复:'">
                        <br />
                    <p style="color: #6e6e6e;font-size:13px;line-height:24px;padding:10px 20px;background:#f8f8f8;margin:0px" th:text="${replyContent}"></p>
                    <p style="color: #6e6e6e;font-size:13px;line-height:24px;">你可以点击
                        <a th:href="${contentUrl}">查看完整内容</a>
                    </p>
                    <p style="color: #6e6e6e;font-size:13px;line-height:24px;">(此邮件由系统自动发出, 请勿回复。)</p>
                </div>
                <p style="color: #6e6e6e;font-size:13px;line-height:24px;text-align:right;padding:0 32px">邮件发自：
                    <a th:href="${blogUrl}" style="color:#51a0e3;text-decoration:none" th:text="${blogTitle}"></a>
                </p>
            </div>
        </div>
    </div>
</body>