<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.dao.MetaMapper">

  <sql id="BASE_TABLE">
    t_meta
  </sql>

  <sql id="RELATION_SHIP_TABLE">
    <include refid="com.hq.dao.RelationshipMapper.BASE_TABLE"></include>
  </sql>

  <sql id="BASE_COLUMN">
    m.mid,m.name,m.slug,m.type,m.desrciption,m.sort,m.parent
  </sql>

  <resultMap id="BaseResultMap" type="com.hq.model.Meta">
    <id column="mid" jdbcType="INTEGER" property="mid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="slug" jdbcType="VARCHAR" property="slug" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="contentType" jdbcType="VARCHAR" property="contentType" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="parentId" jdbcType="INTEGER" property="parentId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_meta
    where mid = #{mid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hq.model.Meta">
    insert into t_meta (mid, name, slug, 
      type, contentType, description, 
      sort, parentId)
    values (#{mid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{slug,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{contenttype,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{parentid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hq.model.Meta">
    update t_meta
    set name = #{name,jdbcType=VARCHAR},
      slug = #{slug,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      contentType = #{contenttype,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      parentId = #{parentid,jdbcType=INTEGER}
    where mid = #{mid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select mid, name, slug, type, contentType, description, sort, parentId
    from t_meta
    where mid = #{mid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select mid, name, slug, type, contentType, description, sort, parentId
    from t_meta
  </select>
  <resultMap id="MetaDto" type="com.hq.dto.MetaDto" extends="BaseResultMap">
    <result column="count" property="count" jdbcType="INTEGER"/>
  </resultMap>
  <select id="selectMetaDtoByMap" parameterType="map" resultMap="MetaDto">
    select
    a.*,
    count(b.cid) as count
    from <include refid="BASE_TABLE"/> AS a
    left join <include refid="RELATION_SHIP_TABLE"/> AS b on a.mid = b.mid
    where a.type = #{type}
    group by a.mid
    order by #{order}
    limit #{limit}
  </select>

  <select id="getMetasCountByType" resultType="java.lang.Long">
    SELECT count(1) FROM
    <include refid="BASE_TABLE"/>
    WHERE type = #{type, jdbcType=VARCHAR}
  </select>

  <select id="getMetaById" resultType="com.hq.model.Meta">
    select
    <include refid="BASE_TABLE"/>
    from
    <include refid="BASE_TABLE"/>
    where m.mid = #{mid,jdbcType=INTEGER}
  </select>

  <delete id="deleteById">
    delete from
    <include refid="BASE_TABLE"/>
    where m.mid = #{mid,jdbcType=INTEGER}
  </delete>

  <update id="updateMeta" parameterType="com.hq.model.Meta">
    UPDATE
    <include refid="BASE_TABLE"/>
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="slug != null">
        slug = #{slug, jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type, jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description, jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort, jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        parent = #{parentId, jdbcType=INTEGER},
      </if>
    </set>
    WHERE
    mid = m.mid = #{mid,jdbcType=INTEGER}
  </update>

  <insert id="addMeta" parameterType="com.hq.model.Meta" useGeneratedKeys="true" keyProperty="mid">
    insert into
    <include refid="BASE_TABLE"/>
    <trim prefix="(" suffix=")" suffixOverrides=",">
      name,slug,type,description,sort,parentId
    </trim>
    <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
      #{name,jdbcType=VARCHAR}, #{slug,jdbcType=VARCHAR},#{type, jdbcType=VARCHAR},
      #{description, jdbcType=VARCHAR}, #{sort, jdbcType=INTEGER}, #{parentId, jdbcType=INTEGER}
    </trim>
  </insert>

  <select id="getMetasByMetaQuery" resultType="com.hq.model.Meta" parameterType="com.hq.dto.MetaQuery">
    select
    <include refid="BASE_COLUMN"/>
    from
    <include refid="BASE_TABLE"/> as m
    <where>
      <if test="name !=null">
        and m.name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="type !=null">
        and m.type = #{type,jdbcType=VARCHAR}
      </if>
    </where>
    order by m.sort
  </select>
</mapper>