<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.dao.MetaMapper">
  <resultMap id="BaseResultMap" type="com.hq.entity.Meta">
    <id column="mid" jdbcType="INTEGER" property="mid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="slug" jdbcType="VARCHAR" property="slug" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="contentType" jdbcType="VARCHAR" property="contenttype" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="parentId" jdbcType="INTEGER" property="parentid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_meta
    where mid = #{mid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hq.entity.Meta">
    insert into t_meta (mid, name, slug, 
      type, contentType, description, 
      sort, parentId)
    values (#{mid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{slug,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{contenttype,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{parentid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hq.entity.Meta">
    update t_meta
    set name = #{name,jdbcType=VARCHAR},
      slug = #{slug,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      contentType = #{contenttype,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      parentId = #{parentid,jdbcType=INTEGER}
    where mid = #{mid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select mid, name, slug, type, contentType, description, sort, parentId
    from t_meta
    where mid = #{mid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select mid, name, slug, type, contentType, description, sort, parentId
    from t_meta
  </select>
</mapper>