<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.dao.OperationLogMapper">
  <resultMap id="BaseResultMap" type="com.hq.entity.OperationLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="logType" jdbcType="VARCHAR" property="logtype" />
    <result column="logName" jdbcType="VARCHAR" property="logname" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="className" jdbcType="VARCHAR" property="classname" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="data" jdbcType="VARCHAR" property="data" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="succeed" jdbcType="VARCHAR" property="succeed" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="messgae" jdbcType="VARCHAR" property="messgae" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_operation_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hq.entity.OperationLog">
    insert into t_operation_log (id, logType, logName, 
      userId, className, method, 
      data, createTime, succeed, 
      ip, messgae)
    values (#{id,jdbcType=INTEGER}, #{logtype,jdbcType=VARCHAR}, #{logname,jdbcType=VARCHAR}, 
      #{userid,jdbcType=INTEGER}, #{classname,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, 
      #{data,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{succeed,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{messgae,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hq.entity.OperationLog">
    update t_operation_log
    set logType = #{logtype,jdbcType=VARCHAR},
      logName = #{logname,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=INTEGER},
      className = #{classname,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      data = #{data,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      succeed = #{succeed,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      messgae = #{messgae,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, logType, logName, userId, className, method, data, createTime, succeed, 
    ip, messgae
    from t_operation_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, logType, logName, userId, className, method, data, createTime, succeed, 
    ip, messgae
    from t_operation_log
  </select>
</mapper>