<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.dao.RelationshipMapper">
  <sql id="BASE_TABLE">
    T_RELATIONSHIP
  </sql>
  <sql id="BASE_COLUMN">
      rs.id,rs.cid,rs.mid
  </sql>
  <resultMap id="BaseResultMap" type="com.hq.model.Relationship">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="mid" jdbcType="INTEGER" property="mid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_relationship
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hq.model.Relationship">
    insert into t_relationship (id, cid, mid)
    values (#{id,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{mid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hq.model.Relationship">
    update t_relationship
    set cid = #{cid,jdbcType=INTEGER},
      mid = #{mid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, cid, mid
    from t_relationship
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, cid, mid
    from t_relationship
  </select>
</mapper>