<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.dao.CommentMapper">

  <sql id="BASE_TABLE">
    t_comment
  </sql>

  <sql id="BASE_COLUMN">
    cm.coid,cm.cid,cm.createTime,cm.author,cm.gavatar,cm.ownerId,cm.mail,
    cm.url,cm.ip,cm.agent,cm.type,cm.status,cm.isAdmin,cm.parentId,cm.content
  </sql>

  <resultMap id="BaseResultMap" type="com.hq.model.Comment">
    <id column="coid" jdbcType="INTEGER" property="coid" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="gavatar" jdbcType="VARCHAR" property="gavatar" />
    <result column="ownerId" jdbcType="INTEGER" property="ownerId" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="agent" jdbcType="VARCHAR" property="agent" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="isAdmin" jdbcType="INTEGER" property="isAdmin" />
    <result column="parentId" jdbcType="INTEGER" property="parentId" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>

  <resultMap id="AllResultMap" type="com.hq.model.Comment">
    <id column="coid" jdbcType="INTEGER" property="coid" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="gavatar" jdbcType="VARCHAR" property="gavatar" />
    <result column="ownerId" jdbcType="INTEGER" property="ownerId" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="agent" jdbcType="VARCHAR" property="agent" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="isAdmin" jdbcType="INTEGER" property="isAdmin" />
    <result column="parentId" jdbcType="INTEGER" property="parentId" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <collection column="coid" javaType="java.util.ArrayList" property="childComments"
                ofType="com.hq.model.Comment" select="getSubComment" />
  </resultMap>

  <resultMap id="NextResultMap" type="com.hq.model.Comment">
    <id column="coid" jdbcType="INTEGER" property="coid" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="gavatar" jdbcType="VARCHAR" property="gavatar" />
    <result column="ownerId" jdbcType="INTEGER" property="ownerId" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="agent" jdbcType="VARCHAR" property="agent" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="isAdmin" jdbcType="INTEGER" property="isAdmin" />
    <result column="parentId" jdbcType="INTEGER" property="parentId" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <collection column="coid" javaType="java.util.ArrayList" property="childComments"
                ofType="com.hq.model.Comment" select="getSubComment" />
  </resultMap>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_comment
    where coid = #{coid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hq.model.Comment">
    insert into t_comment (coid, cid, createTime, 
      author, gavatar, ownerId, 
      mail, url, ip, agent, 
      type, status, isAdmin,parentId,
      content)
    values (#{coid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{author,jdbcType=VARCHAR}, #{gavatar,jdbcType=INTEGER}, #{ownerid,jdbcType=INTEGER}, 
      #{mail,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{agent,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{isAdmin,jdbcType=INTEGER},
      #{parentid,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hq.model.Comment">
    update t_comment
    set cid = #{cid,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      author = #{author,jdbcType=VARCHAR},
      gavatar = #{gavatar,jdbcType=INTEGER},
      ownerId = #{ownerid,jdbcType=INTEGER},
      mail = #{mail,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      agent = #{agent,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      parentId = #{parentid,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where coid = #{coid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select coid, cid, createTime, author, gavatar, ownerId, mail, url, ip, agent, type, 
    status,isAdmin, parentId, content
    from t_comment
    where coid = #{coid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select coid, cid, createTime, author, gavatar, ownerId, mail, url, ip, agent, type, 
    status,isAdmin, parentId, content
    from t_comment
  </select>

  <!--根据条件查找评论列表-->
  <select id="getCommentsByQuery" resultType="com.hq.model.Comment" parameterType="com.hq.dto.CommentQuery">
    select
    <include refid="BASE_COLUMN"/>
    from
    <include refid="BASE_TABLE"/> as cm
    <where>
      <if test="status != null">
        and cm.status = ${status, jdbcType=VARCHAR}
      </if>
      <if test="startTime != null">
        AND cm.createTime &gt;= #{startTime, jdbcType=INTEGER}
      </if>
      <if test="endTime != null">
        AND cm.createTime &lt;= #{endTime, jdbcType=INTEGER}
      </if>
      <if test="parentId != null">
        AND cm.parentId = #{parent,jdbcType=INTEGER}
      </if>
    </where>
    ORDER BY cm.createTime DESC
  </select>

  <select id="getCommentCount" resultType="java.lang.Long">
    SELECT count(1) FROM
    <include refid="BASE_TABLE"/>
  </select>

  <!-- 根据文章的主键获取评论列表:只显示审核通过的评论 -->
  <select id="getCommentsByCid" resultType="com.hq.model.Comment">
    select
    <include refid="BASE_COLUMN"/>
    from
    <include refid="BASE_TABLE"/> as cm
    where
    cm.cid = #{cid,jdbcType=INTEGER}
    and cm.status = 'approved'
    order by cm.createTime DESC
  </select>

  <select id="getCommentById" resultType="com.hq.model.Comment">
    select
    <include refid="BASE_COLUMN"/>
    from
    <include refid="BASE_TABLE"/> as cm
    where cm.coid = #{coid,jdbcType=INTEGER}
  </select>

  <insert id="addComment" parameterType="com.hq.model.Comment">
    insert  into
    <include refid="BASE_TABLE"/>
    <trim prefix="(" suffix=")" suffixOverrides=",">
      cid,createTime,author,gavatar,ownerId,mail,
      url,ip,agent,type,status,isAdmin,parentId,content,
    </trim>
    <trim prefix="values(" suffix=")" suffixOverrides=",">
      #{cid,jdbcType=INTEGER}, #{createTime, jdbcType=INTEGER},
      #{author, jdbcType=VARCHAR}, #{gavatar, jdbcType=INTEGER}, #{ownerId, jdbcType=INTEGER},
      #{mail, jdbcType=VARCHAR}, #{url, jdbcType=VARCHAR}, #{ip, jdbcType=VARCHAR}, #{agent, jdbcType=VARCHAR},
      #{type, jdbcType=VARCHAR}, #{status, jdbcType=VARCHAR}, #{isAdmin, jdbcType=INTEGER},
      #{parentId, jdbcType=INTEGER},#{content, jdbcType=LONGVARCHAR},
    </trim>
  </insert>
  <update id="updateCommentStatus" >
    update
    <include refid="BASE_TABLE"/>
    set status = #{status,jdbcType=VARCHAR}
    where coid = #{coid,jdbcType=VARCHAR}
  </update>

  <select id="getAllCommentsByCId" resultMap="AllResultMap">
    SELECT
    <include refid="BASE_COLUMN"/>
    from <include refid="BASE_TABLE"/> cm
    WHERE cm.cid = #{coid,jdbcType=INTEGER} and cm.parentId = 0    and cm.status = 'approved'
    order by cm.createTime DESC
  </select>

  <select id="getSubComment" resultMap="NextResultMap">
    SELECT
    <include refid="BASE_COLUMN"/>
    from <include refid="BASE_TABLE"/> cm
    WHERE cm.parentId = #{id}
  </select>

</mapper>