<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.dao.OperationLogMapper">

  <sql id="BASE_TABLE">
    t_operation_log
  </sql>

  <sql id="BASE_COLUMN">
    o.id,o.logType,o.logName,o.userId,o.className,o.method,o.data,o.createTime,o.succeed,o.ip,o.message
  </sql>

  <resultMap id="BaseResultMap" type="com.hq.model.OperationLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="logType" jdbcType="VARCHAR" property="logType" />
    <result column="logName" jdbcType="VARCHAR" property="logName" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="className" jdbcType="VARCHAR" property="className" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="data" jdbcType="VARCHAR" property="data" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="succeed" jdbcType="VARCHAR" property="succeed" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="message" jdbcType="VARCHAR" property="message" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_operation_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hq.model.OperationLog">
    insert into t_operation_log (id, logType, logName, 
      userId, className, method, 
      data, createTime, succeed, 
      ip, message)
    values (#{id,jdbcType=INTEGER}, #{logType,jdbcType=VARCHAR}, #{logName,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{className,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, 
      #{data,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{succeed,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hq.model.OperationLog">
    update t_operation_log
    set logType = #{logType,jdbcType=VARCHAR},
      logName = #{logName,jdbcType=VARCHAR},
      userId = #{userId,jdbcType=INTEGER},
      className = #{className,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      data = #{data,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      succeed = #{succeed,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, logType, logName, userId, className, method, data, createTime, succeed, 
    ip, message
    from t_operation_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, logType, logName, userId, className, method, data, createTime, succeed, 
    ip, message
    from t_operation_log
  </select>

  <select id="getByNum" parameterType="java.lang.Integer" resultMap="BaseResultMap">
     select id, logType, logName, userId, className, method, data, createTime, succeed,
    ip, message
    from t_operation_log
    order by createTime desc
    limit 0,#{logNum}
  </select>
</mapper>